                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 clearfix">
                                    <h4 class="pull-left" style="margin: 0 0 20px;">统计数据 <small>(<?php echo date('Y-m-d')?>)</small></h4>
                                    <div class="btn-group pull-right">
                                        <a href="javascript:;" class="btn btn-default btn-sm active"><?php echo date('Y-m-d')?></a>
                                    </div>
                                </div>
                               
                               
                               <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-toyo" href="#">
                                <div class="tiles-heading">刷卡次数</div>
                                <div class="tiles-body-alt">
                                    <!--i class="fa fa-bar-chart-o"></i-->
                                    <div class="text-center" id="div1">0</div>
                                    <small>当日刷卡次数</small>
                                </div>
                                <div class="tiles-footer"></div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-success" href="#">
                                <div class="tiles-heading">刷卡人数</div>
                                <div class="tiles-body-alt">
                                    <!--i class="fa fa-money"></i-->
                                    <div class="text-center" id="div2">0</div>
                                    <small>当日刷卡人数</small>
                                </div>
                                <div class="tiles-footer"></div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-orange" href="#">
                                <div class="tiles-heading">员工人数</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-group"></i>
                                    <div class="text-center" id="div3">0</div>
                                    <small>员工统计人数</small>
                                </div>
                                <div class="tiles-footer"></div>
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a class="info-tiles tiles-alizarin" href="#">
                                <div class="tiles-heading">会员人数</div>
                                <div class="tiles-body-alt">
                                    <i class="fa fa-shopping-cart"></i>
                                    <div class="text-center" id="div4">0</div>
                                    <small>会员统计人数</small>
                                </div>
                                <div class="tiles-footer"></div>
                            </a>
                        </div>
                    </div>
                </div>
                               
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
                
