<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<title>{$web_site.title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{$web_site.description}">
	<meta name="author" content="{$web_site.author}">
	<link rel="shortcut icon" href="{$web_site.shortcut}" />	
		
	<!-- <link href="{$Think.ADMIN_PUBLIC}less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="{$Think.ADMIN_PUBLIC}css/styles.css?=121">
    <link href='{$Think.ADMIN_PUBLIC}css/googleapis.css' rel='stylesheet' type='text/css'>
    <link href='{$Think.ADMIN_PUBLIC}demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'> 
    <link href='{$Think.ADMIN_PUBLIC}demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'> 
	<!--[if lt IE 9]>
        <link rel="stylesheet" href="{$Think.ADMIN_PUBLIC}css/ie8.css">
		<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="{$Think.ADMIN_PUBLIC}plugins/charts-flot/excanvas.min.js"></script>
	<![endif]-->
	<!-- <script type="text/javascript" src="{$Think.ADMIN_PUBLIC}js/less.js"></script> -->
	<link rel="stylesheet" type="text/css" href="{$Think.ADMIN_PUBLIC}/plugins/dataTables/jquery.dataTables.css" />
	<link href="{$Think.ADMIN_PUBLIC}/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
	<link href="{$Think.ADMIN_PUBLIC}/plugins/layer/skin/layer.css" rel="stylesheet" type="text/css">
    <link href="{$Think.ADMIN_PUBLIC}/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css">
	<!-- The following CSS are included as plugins and can be removed if unused-->
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/form-daterangepicker/daterangepicker-bs3.css' /> 
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/fullcalendar/fullcalendar.css' /> 
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/form-markdown/css/bootstrap-markdown.min.css' /> 
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/codeprettifier/prettify.css' /> 
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/form-toggle/toggles.css' />
	
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/dragdropbox/jquery.filer.css' /> 
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/dragdropbox/jquery.filer-dragdropbox-theme.css' />
	<link rel='stylesheet' type='text/css' href='{$Think.ADMIN_PUBLIC}plugins/dragdropbox/custom.css' /> 
</head>