<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>!window.jQuery && document.write(unescape('%3Cscript src="{$Think.ADMIN_PUBLIC}js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="{$Think.ADMIN_PUBLIC}js/jqueryui-1.10.3.min.js'))</script>
-->

<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jquery-1.10.2.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jqueryui-1.10.3.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/bootstrap.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/enquire.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jquery.cookie.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jquery.nicescroll.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/codeprettifier/prettify.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/easypiechart/jquery.easypiechart.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/sparklines/jquery.sparklines.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/form-toggle/toggle.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/bootbox/bootbox.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/fullcalendar/fullcalendar.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/form-daterangepicker/daterangepicker.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/form-daterangepicker/moment.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/charts-flot/jquery.flot.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/charts-flot/jquery.flot.resize.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/charts-flot/jquery.flot.orderBars.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/pulsate/jQuery.pulsate.min.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/placeholdr.js'></script> 


    <!-- Data Tables -->
<script type='text/javascript' src="{$Think.ADMIN_PUBLIC}plugins/dataTables/jquery.dataTables.js"></script>
<script type='text/javascript' src="{$Think.ADMIN_PUBLIC}plugins/dataTables/dataTables.bootstrap.js"></script>
<script type='text/javascript' src="{$Think.ADMIN_PUBLIC}js/page.js"></script>

<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/application.js'></script> 
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}demo/demo.js'></script>
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jquery.hash.min.js'></script>
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/jquery.base64.min.js'></script>

<script type='text/javascript' src="{$Think.ADMIN_PUBLIC}plugins/layer/layer.min.js"></script>
<script type='text/javascript' src="{$Think.ADMIN_PUBLIC}plugins/toastr/toastr.min.js"></script>
<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/form-parsley/parsley.min.js'></script>

<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}plugins/dragdropbox/jquery.filer.min.js'></script>

<script type='text/javascript' src='{$Think.ADMIN_PUBLIC}js/common.js'></script>
<script src="{$Think.ADMIN_PUBLIC}view/frame/content.js"></script>


