<div class="row">
	
	       <div class="col-sm-12">
	       	  <p class="menu_buttons">
	       	  	{foreach name="menus" key="k" item="v"}
	       	  			<button data-url="{$v.url}" class="menu_3 btn {$v.class}"><i class="fa {$v.icon}"></i><span class="bold">&nbsp;&nbsp;{$v.name}</span></button>
	       	  	{/foreach}
	       	  </p>
					</div>
					<div class="col-sm-12 scorll">
				
				<div class="ibox-content no-borders m-t-b-10" >
							<form class="form-inline m-t" role="form" id="myform">
						       <div class="form-group p-b-xxs">
						                    <input type="text" placeholder="卡号" value=""  id="card_no" class="form-control">
						       </div>
						        <div class="form-group p-b-xxs">
						                    <input type="text" placeholder="姓名" value=""  id="name" class="form-control">
						       </div>
						       <div class="form-group p-b-xxs">
						                    <input type="text" placeholder="手机" value=""  id="mobile" class="form-control">
						       </div>
						       <div class="form-group p-b-xxs">
						                    <input type="text" placeholder="编号" value=""  id="id_number" class="form-control">
						       </div>
						        <div class="form-group p-b-xxs">
						        	<input type="hidden" value="" id="excel_param" />
						                <button class="btn btn-primary" id="btn-advanced-search" type="button"><i class="fa fa-search-plus"></i>查询</button>
						        </div>
						          <div class="form-group p-b-xxs"><button id="btn-advanced-refresh" class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> 刷新</button></div>
						          <div class="form-group p-b-xxs"><button onclick="read_card_btn('#card_no')" class="btn btn-info" type="button"><i class="fa  fa-search-plus"></i> 读卡</button></div>
							</form>
						</div>
				
				
              <div class="ibox float-e-margins" id="div-table-container">
                            <div class="ibox-content no-borders">
                                <table class="table table-striped table-bordered table-hover dataTables-example" id="data-table">
                                    <thead>
                                        <tr>
                                        	<th width="3%"><input type="checkbox" value="1"  class="selecte_all" /></th>
                                            <th width="10%">卡号</th>
                                            <th width="10%">姓名</th>
                                            <th width="10%">手机号码</th>
                                            <th width="10%">会员编号</th>
                                            <th width="10%">卡类型</th>
                                            <th width="10%">有效期开始</th>
                                            <th width="10%">有效期结束</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                	 	<tr>
                                        	<th width="3%"><input type="checkbox" value="1"  class="selecte_all" /></th>
                                            <th width="10%">卡号</th>
                                            <th width="10%">姓名</th>
                                            <th width="10%">手机号码</th>
                                            <th width="10%">会员编号</th>
                                            <th width="10%">卡类型</th>
                                            <th width="10%">有效期开始</th>
                                            <th width="10%">有效期结束</th>
                                        </tr>
									</tfoot>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
         <script type='text/javascript' src='{$Think.ADMIN_VIEW}member/index.js'></script>